
@import "tailwindcss";

/* Your custom CSS */
body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/background1.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
